/* NAVIGATION STYLING */
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li{
    display: inline-block;
    margin-right: 20px;
}

body {
    background-color: rgb(236, 113, 113);
}

img, video {
    max-width: 80%;
    height: auto;
}
h3{
    font-family: "Courier", serif;
  }
  h3{
    background-color: 
  #ffffff;
  }
  body{
    max-width: 90ch;
    margin-left: auto;
    margin-right: auto;
  }
  header, footer{
    text-align: left;
  }